.container {
    display: flex;
    flex-direction: column;
  }



  @media screen and (min-width: 415px){
    .mobile {
    flex-direction: row;
    } 
  
    
  .mobile img {
   width: 100%;  
   }
 
  .mobile {
    min-width: 250px;
    max-width: 223px;
  }

}



  @media screen and (min-width: 600px){
    .desktop {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
    

  

  